$primary: #55A630;
$secondary: #4F6D7A;
$success: #212529;
$info: #495057;
$warning: #CED7DD;
$dark: #f0f0f0;



$danger: #00803D;
$light: #92b13f; 
//color footer: #3a4750


@import "../../node_modules/bootstrap/scss/bootstrap";